/* Menu component specific styles */
.main-menu ion-accordion-group {
  padding: 0 1rem;
  --ion-safe-area-right: 0;
}

.main-menu ion-accordion {
  margin: 0;
}

.main-menu ion-accordion ion-item[slot="header"] {
  --padding-start: 16px;
  --background: transparent;
}

.main-menu ion-accordion ion-item {
  --background: transparent;
}

.main-menu ion-accordion ion-item::part(native) {
  padding: 0;
}

.main-menu .submenu-content {
  padding-left: 16px;
}

.main-menu .submenu-item {
  --padding-start: 32px;
  font-size: 14px;
  --background: transparent;
  width: 100%;
}

.main-menu .submenu-item.selected-menu-item {
  --background: var(--ion-color-primary-tint);
  --color: var(--ion-color-primary);
  width: 100%;
}

.main-menu .selected-menu-item {
  --background: var(--ion-color-primary-tint);
  --color: var(--ion-color-primary);
}

.main-menu ion-accordion.accordion-expanded ion-item[slot="header"] {
  --color: var(--ion-color-primary);
} 